******Data Science Tools and Ecosystem******

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* 3 of the most popular languages that Data Scientists use
* 3 of the most commonly libraries used by Data Scientists
* 3 Development Environment open source tools used in data science

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Java

Some of the commonly libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Scipy

| Data Science Tools | 
| ----------------   |
| Jupyter Notebooks  |
| Zeppelin Notebooks |
| R Studio’s         |

***Below are a few examples of evaluating arithmetic expressions in Python***

In [16]:
#This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

[1] 17

In [17]:
#This will convert 200 minutes to hours by diving by 60.
200/60

[1] 3.333333

****Author´s Name:****
* Lakshmi Holla
* Niveditha Pandith

Name: Leidy Massiel